.button {
    background-color: #fff;
    font-size: medium;
    border-radius: 6px;
}

.invertedButton {
    background-color: black;
    font-size: medium;
    border-radius: 6px;
    color: #fff;
}

.label {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.invertedLabel {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button:hover {
    cursor: pointer;
    background-color: black;
    border: 1px solid #fff;
    color: #fff;
}

.invertedButton:hover {
    cursor: pointer;
    background-color: #fff;
    color: black;
}